<div class="container">
    <div id="title_login">
    <p><%= __('Please login to access application') %></p>
    </div>
    <div>
    <form method="POST" id="form_login">
        <div class="form-group">
          <label for="exampleInputEmail">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
                name="email"
                value="<%= email %>">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password"
                name="password">
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
        
      </form>
    <div class="error"><%= error %></div>
    </div>
</div>
