<article class="col-sm-6 col-md-6 col-lg-4" data-id="1">
    <div class="item">

        <div class="item-info break_word" id="box">
                
            <picture>
                <img class="thumb" src="images/articles/art-1.jpg" >
            </picture>
            <div class="text-info">
                <div class="typeArticle">Venta</div>
                <a href="/#">
                    <h1>Apple Watch</h1>
                    <div class="price">100€</div>
                </a>
                    <div class="tag">
                        <span class="glyphicon glyphicon-tags"></span>
                        <a href="/apiv1/anuncios?tag=work"> work </a>,
                        <a href="/apiv1/anuncios?tag=lifestyle"> lifestyle </a>,
                        <a href="/apiv1/anuncios?tag=motor"> motor </a>,
                        <a href="/apiv1/anuncios?tag=mobile"> mobile </a>
                    </div>
            </div>
        </div> 
    </div>
</article>