<article class="col-sm-6 col-md-6 col-lg-4" data-id="1">
    <div class="item">

        <div class="item-info break_word" id="box">
                
            <picture>
                <img class="thumb" src="images/articles/art-1-1500px.jpg" >
            </picture>
            <div class="text-info">
                <div class="typeArticle">Venta</div>
                <a href="/article.html">
                    <h1>Apple Watch</h1>
                    <div class="price">100€</div>
                    <div class="tag">
                        <span class="glyphicon glyphicon-tags"></span>Sport, Watch, Apple
                    </div>
                    <div class="description">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore rerum sequi, nulla illo
                            distinctio blanditiis nesciunt adipisci! Quis vel, numquam esse dicta perspiciatis doloribus
                            vero placeat rerum officia alias culpa.</p>
                        
                    </div>
                    
                </a>
            </div>
        </div>

        
    </div>
</article>