
            <div class="input-group" id="boot-search-box">
 
                <input type="text" class="form-control" name="nombre" placeholder="Busca el producto que necesitas" />
 
                <div class="input-group-btn">
 
                    <div class="btn-group" role="group">
 
                        <div class="dropdown dropdown-lg">
 
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
 
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
 
                                <div class="form-horizontal" role="form" id="search">
 
                                  <div class="form-group">
 
                                    <label>Categoría:</label>
 
                                    <select name="tag" class="form-control">

                                        <option value="motor" selected>Motor</option>
 
                                        <option value="electronica" >Electrónica</option>
 
                                        <option value="deporte">Deporte</option>
 
                                        <option value="libros">Libros</option>
 
                                        <option value="moda">Moda</option>
 
                                    </select>
 
                                  </div>

                                  <div class="form-group">
                                    
                                    <div class="form-check form-check-inline">
 
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="venta" value="true"> Venta
                                          </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                          <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="venta" value="false"> Busqueda
                                          </label>
                                        </div>

                                  </div>
 
                             
                                  <div class="form-group">
                                    
                                    <label>Precio:</label>
                                    
                                    <select name="precio" class="form-control">
                                   
                                         <option value="10-50​" selected>10-50 €</option>
                                    
                                         <option value="10-" >Mayor 10 €</option>

                                         <option value="-50" >Menor 50 €</option>

                                         <option value="50" >50 €</option>
                                    
                                    
                                    </select>
                                    
                                    </div>
                                
 

                                  <button type="submit" class="btn btn-primary btn-block">Buscar</button>
 
                                </div>

 
                        </div>
 
                        <button type="button" class="btn btn-success "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
 
                    </div>
 
                </div>
 
            </div>
 
         
 
        
 
</div>