
            

            <div class="input-group" id="boot-search-box">
 
                
 
                <div class="input-group-btn">
 
                    <div class="btn-group" role="group">
 
                        <div class="dropdown dropdown-lg">
 
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
 
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
 
                                <form class="form-horizontal" role="form" id="search">
                                  <div class="form-group">
                                  <input type="text" class="form-control" name="nombre"  placeholder="Busca el producto que necesitas" />
                                  </div>
                                  <div class="form-group">
 
                                  
 
                                    <select name="tag" class="form-control">
                                          <option disabled selected value>Selecciona una categoria</option>
                                          <% for (let key in tags){ %>
                                          <option value="<%= tags[key] %>"><%= tags[key] %></option>
                                          <% } %>
                                    </select>
 
                                  </div>

                                  <div class="form-group">
                                    
                                    <div class="form-check form-check-inline">
 
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="venta" value="true"> Venta
                                          </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                          <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="venta" value="false"> Busqueda
                                          </label>
                                        </div>

                                  </div>
 
                             
                                  <div class="form-group">
                                    
                                    <label>Precio:</label>
                                    
                                    <select name="precio" class="form-control">
                                        <option disabled selected value>Selecciona un rango de precio</option>
                                         
                                         <option value='10-50'>10-50 €</option>
                                    
                                         <option value='10-'>Mayor 10 €</option>

                                         <option value='-50'>Menor 50 €</option>

                                         <option value='50'>50 €</option>
                                    
                                    
                                    </select>
                                    
                                    </div>
                                
 

                                  <button type="submit" class="btn btn-primary btn-block">Buscar</button>
 
                                </form>

 
                        </div>
 
                        
                    </div>
 
                </div>
 
            </div>
 
         
 
        
 
</div>