
  <head>
    <title>Gestión Anuncios</title>
    <!-- CSS -->
    <%include partials/css.ejs %>
  </head>
  <body>
    <!-- Menu -->
    <%include partials/menu.ejs %>
    <!-- Contenedor -->
    <%include partials/form_ad.ejs %>
    <!-- Footer -->
    <%include partials/footer.ejs %>
    <!-- Scripts -->
    <%include partials/scripts.ejs %>
  </body>
  
</html>