<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS -->
    <%include partials/css.ejs %>
  </head>
  <body>
    <!-- Menu -->
    <%include partials/menu.ejs %>
    <!-- Error -->
    <div class="alert alert-danger error"><h3><%= error%></h3></div>
    <!-- Footer -->
    <%include partials/footer.ejs %>
    <!-- Scripts -->
    <%include partials/scripts.ejs %>
  </body>
  
</html>
