<!DOCTYPE html>
<html>
  <head>
    <title>Anuncios S.L</title>
    <!-- CSS -->
    <%include partials/css.ejs %>
  </head>
  <body>
    <!-- Contenedor -->
    <%include partials/form_login.ejs %>
    <!-- Footer -->
    <%include partials/footer.ejs %>
    <!-- Scripts -->
    <%include partials/scripts.ejs %>
  </body>
  
</html>