.item-list {
    margin-bottom: 50px;
}

.title {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
    line-height: 2;
}

article {
    padding-bottom: 15px;
}

.item {
    border: 1px solid lightgrey;
    padding-left: 0px !important;
    height: 440px;
    position: relative;
}

.thumb {
    width: 100%;
    height: 270px;
}

.text-info {
    padding: 0px 15px 0px 15px;
    height: 120px;
}

.text-info h1, .price, .tag a {
    text-decoration: none;
    color: #5f5f5f;
}


.typeArticle {
    display: block;
    color: #ecf0f1;
    float: right;
    text-align: center;
    border-radius: 5%;
    margin: 18px 0;
}

.venta{
    background-color: #1abc9c;  
}

.busqueda{
    background-color: #e74c3c;
}

.description p {
    padding-top: 20px;
}

.price {
    text-align: center;
    font-size: 25px;
    background-color: #ecf0f1;
    margin-top: 18px;
}

.tag > span{
    color: #5f5f5f;
    margin-left: 5px;
}

.tag a{
    margin-left: 5px;
}

.tag {
    display: block;
    position: absolute;
    bottom: 15px;
}
