form#form_login {
    background-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    height: 222px;
}

div#title_login {
    text-transform: uppercase;
    margin-top: 20px;
}

.error{
    color:#a94442;
    text-transform: uppercase;
}