.navbar-brand img{
    width: 85px;
}

span.flag-icon {
    width: 25px;
    height: 35px;
    margin-top: 7px;
    
}

.navbar-nav>li>a{
    padding-top: 0px !important; 
    padding-bottom: 0px !important; 
}


.nav>li>a {
    padding: 0px !important;
    margin-right: 10px;
}

a.btn.btn-logout {
    margin-top: 9px;
    padding: 5px !important;
}